.main-right-story-content {
  display:flex;
  flex-direction: column;
  overflow-y: auto;  
  padding-left:0.8em;
  .main-right-story-content-inner {
    display:flex;
    align-items: center;
    margin:0.2em;
    .main-right-story-content-img {
      width: 2.5em;
      height: 2.5em;
      border-radius: 2.5em;
      border: solid 0.5px  rgba(181, 181, 181, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      cursor: pointer;
      img {
        width: 2.4em;
        height: 2.4em;
        border-radius: 2.4em;
        margin: 0;
      }
    }
    /* 스토리 있을 때 빨간 테두리 */
    .storyOn-border {
      border: solid 2px rgb(246, 70, 91);
    }
    .main-right-story-content-text {
      margin-left: 0.4em;
      .span-story-time {
        display:block;
        font-size:0.65em;
        color:gray;
      }
    }
  }
}