.main-right {
  position:sticky;
  top:5em;
  display:flex; 
  align-items: center;
  justify-content:center;
  width: 20em;
  height: 40em;
  margin-left: 1em;
  .main-right-inner {
    height: 100%;
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    .main-right-profile {
      display:flex;
      align-items: center;
      width: 100%;
      height: 4em;
      margin-bottom: 1em;
      img {
        width: 3.2em;
        border-radius: 10em;
        cursor: pointer;
      }      
      .main-right-profile-text {
        margin-left: 1em;
        padding-top: 0.3em;
      }
      .description {
        display:block;
        font-size:0.8em;
        color:gray;
      }
    }
    .main-right-explore {
      width: 100%;
      height: 12em;
      border: solid 1px  rgba(181, 181, 181, 0.5);
      border-radius: 0.2em;
      margin-bottom: 1em;
      display:flex;
      flex-direction: column;    
      .main-right-explore-title {
        display: flex;
        justify-content:space-between;
        padding:0.8em 1em 0.5em 1em;
      }    
      .main-right-explore-content {
        display:flex;
        flex-direction: column;  
        padding:0 0.8em;
        .main-right-explore-content-inner {
          display:flex;
          align-items: center;
          margin:0.2em;
          img {
            width: 2.5em;
            height: 2.5em;
            border-radius: 2.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            margin:0;
            cursor: pointer;
          }  
          .main-right-explore-content-text {
            margin-left: 0.4em;
              /* 추천안에서 상대방의 상테 표현에 사용할 span */
            .span-explore-userStatus {
              display:block;
              font-size:0.75em;
              color:gray;
            }
          }         
          .span-explore-content-follow {
            display: block;
            margin-left: auto;
            color: #0095f6;
            font-size: 0.75em;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
    .main-right-info {
      width: 100%;
      height: 6em;
      span {
        display:block;
        font-size:0.65em;
        color:rgba(181, 181, 181, 0.7);
      }
    }
  }
}
@media (max-width:980px){
  .main-right {
    display:none;
  }
}
@media (max-width:981px){
  .main-right {
    display:"";
  }
}